.App {
  text-align: center;
}
.row {
  display: table;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.col-counter {
  display: table-cell;
}
.col-symbol {
  display: table-cell;
  width: 100%;
}
.button {
  width: 3rem;
  height: 3rem;
}